html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: #6C7EE1;
    width: 1200px;
    text-align: center;
}

header {
    background-color: #FBA2D0;
}

nav {
    text-decoration: none;
    background-color: #FFC4A4;
    display: flex;
    justify-content: center;
}

main {
    background-color: #92B9E3;
}

footer {
    background-color: #FBA2D0;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 500px;
    list-style-type: none;
}

a {
    text-decoration: none;
}

div {
    display: flex;
    justify-content: space-between;
}

#image {
    width: 100px;
    height: 152px;
    background-color: #ccc;
    background-size: cover;
    text-align: center;
    line-height: 200px;
    font-size: 20px;
    margin-bottom: 10px;
}

img {
    width: 100px;
    margin: 5px;
    cursor: pointer;
}

.imgColor {
    margin: 0;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
    font-family:Arial, sans-serif;
}
 
img{
  width:100%;
}

div img{
    width:150px;
    height: 150px;
    display:block;
    margin:auto;
}

div{
  display: inline-block;
  width: 24%;
  margin: 5px;
  padding: 2px;
}



























/* 
main {
    border: 5px #000 solid;
    margin: 10px;
}
 */
/* 

.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
 */
/* img{
    width: 200px;
    height: 200px;
    padding: 5px;
} */

/* .child {
    position: relative;
    display: inline-block;
    border: 5px black solid;
    margin: 5px;
    border-radius: 5px;
} */

/* 

.label {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
} */
/* 
.button {
    display: inline-block;
    border: 2px solid #000;
    padding: 5px;
    border-radius: 25px;
}
 */
/* 
.button:hover {
    background-color:#fff;
} */

/* 
footer {
    display: flex;
    justify-content: center;
} */

/* 
header {
    border-radius: 5px;
    border: 5px #000 solid;
    margin: 10px;
} */

/* 
.label {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
} */
/* 
.child:hover .label {
    display: block;
} */